* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

:root {
    --progres-content-color: rgb(238, 243, 246);
    --progres-content-border-color:  rgba(46, 170, 219, 0.5);
    --active-color: #2196F3;
    --main-color: white;
    --border-color: rgb(0, 0, 0, 50%);
}

.progress-content__title {
    font-size: 18px;
    position: absolute;
    top: 0;
    left: 0;
}

.progress__body {
    font-family: "Arial";
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--progres-content-color);
}

.progress__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 568px;
    height: 320px;
    margin: 15px;
    background: var(--main-color);
}

.progress__content::before, .progress__content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid transparent;
}

.progress__content::before {
    border-right: 0;
    border-left: 0;
    border-image: repeating-linear-gradient(90deg, var(--progres-content-border-color) 0, var(--progres-content-border-color) 10px, transparent 10px, transparent 20px) 1;
    pointer-events: none;
}

.progress__content::after {
    border-bottom: 0;
    border-image: repeating-linear-gradient(0deg, var(--progres-content-border-color) 0, var(--progres-content-border-color) 10px, transparent 10px, transparent 20px) 1;
    pointer-events: none;
}

.rotate {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media (max-width: 576px) {
    .progress__content {
        width: 320px;
        height: 568px;
        flex-direction: column;
    }
}